* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9fc;
  color: #333;
  line-height: 1.6;
}

section.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  gap: 40px;
  background: white;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

section.step.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

.text h2 {
  font-size: 28px;
  color: #111;
  margin-bottom: 15px;
}

.text p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.time {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.icon {
  font-size: 28px;
  color: #4b6ef5;
}

.time h4 {
  font-size: 14px;
  color: #000;
}

.time p {
  font-size: 15px;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #eef2ff;
  color: #4b6ef5;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 500;
}

.btn:hover {
  background: #4b6ef5;
  color: white;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  object-fit: cover;
}






.photo-credit {
   overflow: hidden;
}





