

.post-navigation a {
  text-decoration: none;
  color: #2962ff;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
}

.post-navigation a:hover {
  text-decoration: underline;
}


.post-navigation {
  margin-left: 10px;   /* reduce left margin */
  margin-right: 10px;  /* reduce right margin */
  /* optional: reduce top/bottom spacing too */
  margin-top: 20px;
  margin-bottom: 20px;
}

