.post-navigation {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.post-navigation a {
  text-decoration: none;
  color: #2962ff;
  font-weight: 600;
}

.post-navigation a:hover {
  text-decoration: underline;
}
