

.post-navigation a {
  text-decoration: none;
  color: #2962ff;
  font-weight: 600;
  border-left: 4px solid #4f46e5;
  padding-left: 0.6rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
 
}

.post-navigation a:hover {
  text-decoration: underline;
}




