.video-tutorial {
  text-align: center;
  margin: 40px 0;
}

.video-tutorial iframe {
  width: 95%;
  max-width: 900px;
  height: 400px;
  border-radius: 8px;
}


 /* Add spacing between sections */
  padding: 6rem 0;



/* === Responsive === */
@media (max-width: 900px) {
  section.tutorial {
    width: 95%;
    padding: 1.5rem 0;
  }
