.video-tutorial {
  text-align: center;
  margin: 40px 0;
}

.video-tutorial iframe {
  width: 90%;
  max-width: 700px;
  height: 400px;
  border-radius: 8px;
}


 /* Add spacing between sections */
  padding: 6rem 0;
